.page-divider {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
  }
  
  .dragging {
    opacity: 0.5;
    cursor: grabbing;
  }
  
  .kanban-column {
    min-height: 100vh;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }